<div class="award text-center small-12 columns" id="nomination-<%= award.id %>">
  <div class="award-ribbon">
    <%= image_tag "pink_ribbon.png" %>
    <span class="vote-count"><%= award.votes.count %></span>
  </div>

  <div class="award-content">
    <%= image_tag award.nominee.image, class: "image-award" %>
    <h5><%= award.nominee.name %></h5>
    <h6><%= award.body %></h6>
  </div>
</div>
