<li id="nomination-<%= nomination.id %>">
  <%= nomination.nominee.image %>
  <%= nomination.nominee.name %>
  <%= nomination.body %>
  <% if nomination.nominator == current_user || current_user.admin? %>
    <%= link_to "Edit", edit_nomination_path(nomination) %>
    <%= link_to "Delete", nomination_path(nomination), method: :delete %>
  <% end %>
  <% if nomination.voters.include?(current_user) %>
    <%= link_to "Voted!", nomination_vote_path(nomination, nomination.votes.find_by(voter: current_user)), method: :delete %>
  <% else %>
    <%= link_to "Vote", nomination_votes_path(nomination), method: :post %>
  <% end %>
</li>
