<h1><%= @team.name %></h1>
<%= link_to "Edit Team", edit_admin_team_path(@team) %>

<% if @team.enrolling? %>
  <p>Currently Enrolling</p>
<% else %>
  <%= link_to "Destroy Team", admin_team_path(@team), method: :delete %>
<% end %>

<%= link_to "See All Teams", admin_teams_path %>

<% unless User.nonmembers(@team).blank? %>
  <%= render "admin/team_memberships/form" %>
<% end %>

<ul class="team_memberships">
  <% @team.users.each do |user| %>
    <li>
      <%= user.name %>
      <%= link_to "Remove From Team", admin_team_membership_path(
        TeamMembership.find_by(user: user, team: @team)), method: :delete %>
  </li>
<% end %>
</ul>
